body#vh-body {
    margin: 0;
}

h2, section {
    margin-top: 20px;
}

section {
    width: 80%;
    margin: 60px auto 0;
}

.dinos-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px black dashed;
}

.dinos-container img {
    width: 90px;
}

.banner-container {
    display: flex;
    align-items: center;
    padding: 2%;
    border: 2px black dashed;
}

.banner-container img {
    width: 150px;
    height: 150px;
    margin-right: 2%;
}

.main-btn {
    background-color: white;
    border: solid black;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
}

#fosil-btn {
    padding: 0.5em 1em;
    font-size: 0.7em;
}

a.main-btn {
    text-decoration: none;
    color: black;
    font-family: Arial;
}

.total-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 99vh;
    width: 99.5vw;
    border: 3px black dashed;
}

.total-container img {
    width: 200px;
}
